@import "../../../variables.scss";

.container {
  margin: 15px;
  margin-bottom: 56px + 15px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  border: solid #f0f0f0 1px;
  border-radius: 2em;
  padding: 10px;
}

.farmer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.farmer-image {
  border-radius: 50%;
}

.farmer-name {
  margin-left: 15px;
  font-size: 1.5em;
}

.message-input-icon {
  font-size: 0.8em;
  color: gray;
}
