@import "../../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  border: solid #f0f0f0 1px;
  border-radius: 2em;
  padding: 10px;
  padding-bottom: 50px;
}

.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.avatar {
  width: 100px;
  height: 100px;
}

.chat-header-name {
  margin-left: 15px;
  font-size: 1.5em;
}

.message-input-icon {
  font-size: 0.8em;
  color: gray;
}

mat-form-field {
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  bottom: 56px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}
