<div class="container">
  <h1>Hallo {{ user }}</h1>
  <h2>Bewerbung</h2>

  <div class="chat-container">
    <div class="chat-header">
      <img class="chat-header-image" src="https://picsum.photos/id/237/80/80" />
      <div class="chat-header-name">Lorem Ipsum</div>
    </div>
    <app-chat-bubble
      *ngFor="let item of chat"
      message="{{ item.message }}"
      type="{{ item.type }}"
      time="{{ item.time }}"
    ></app-chat-bubble>
  </div>
  <mat-form-field>
    <mat-label>Antworten</mat-label>
    <textarea
      #messageInput
      matInput
      placeholder="Sende eine Nachricht..."
    ></textarea>
    <mat-icon matSuffix (click)="onSendMessage(messageInput.value)"
      ><fa-icon class="message-input-icon" [icon]="sendIcon"></fa-icon
    ></mat-icon>
  </mat-form-field>
</div>
<app-bottom-nav></app-bottom-nav>
