<div class="container">
  <h1>Hallo Plucky</h1>
  <h2>Bewerbung</h2>

  <div class="chat-container">
    <div class="farmer-header">
      <img class="farmer-image" src="https://picsum.photos/id/237/100/100" />
      <div class="farmer-name">Lorem Ipsum</div>
    </div>
    <app-chat-bubble
      *ngFor="let item of chat"
      title="{{ item.title }}"
      message="{{ item.message }}"
      type="{{ item.type }}"
    ></app-chat-bubble>
    <mat-form-field>
      <mat-label>Antworten</mat-label>
      <textarea
        #messageInput
        matInput
        placeholder="Sende eine Nachricht..."
      ></textarea>
      <mat-icon matSuffix (click)="onSendMessage(messageInput.value)"
        ><fa-icon class="message-input-icon" [icon]="sendIcon"></fa-icon
      ></mat-icon>
    </mat-form-field>
  </div>
</div>
<app-bottom-nav></app-bottom-nav>
