@import "../../../variables.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    margin: 0;
  }
  .logo {
    display: flex;
    width: 175px;
    height: 175px;
    margin-top: 10px;
    background-image: url("/assets/logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hackathon_logo {
    display: flex;
    width: 300px;
    height: 150px;
    background-image: url("/assets/Logo_Hackathon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .action-container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 30px;
    width: 100%;
    .sub-action-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .actionFarmer {
      width: 130px;
      height: 79px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: orange;
      cursor: pointer;
      border-radius: 5px;
      background-image: url("/assets/farmerButton.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .actionPlucky {
      width: 130px;
      height: 79px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: orange;
      cursor: pointer;
      border-radius: 5px;
      background-image: url("/assets/pluckyButton.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .infoText {
      font-size: 10px;
      line-height: 1.5;
      opacity: 1;
    }
  }
}

.select {
  padding-bottom: 10px;
  align-self: start;
  font-size: 8px;
}

.landingH1 {
  color: white;
}

.element {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0px;
  padding: 10px;
  border-radius: 0%;
  align-self: center;
  justify-self: center;
}

.icon {
  margin-top: 10px;
  color: white;
}

.info-icon {
  color: #f8db01;
}
