.profileShow {
  text-align: end;
  padding-bottom: 10px;
}
.edit-profile-button {
  text-align: end;
  padding-bottom: 15px;
}

.profileEdit {
  color: #f88d01;
  text-align: end;
  padding-bottom: 10px;
}

.error-message {
  text-align: right;
  color: red;
}

.logout-button {
  margin-top: 1rem;
}
