.container {
  display: flex;
  flex-direction: column;
}

.profileShow {
  text-align: end;
  padding-bottom: 10px;
}
.edit-profile-button {
  text-align: end;
  padding-bottom: 15px;
}

.profileEdit {
  color: #f88d01;
  text-align: end;
  padding-bottom: 10px;
}
