@import "../../../variables.scss";
.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-element {
  text-align: center;
  cursor: pointer;
  div {
    margin-top: 0.5rem;
  }
}

.gallery-image {
  border-radius: 50%;
  width: 100px;
  height: auto;
}

.right-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .link {
    color: $custom-blue;
    text-align: right;
    cursor: pointer;
    fa-icon {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}
