@import "../../../variables.scss";
:host {
  width: 100%;
  mat-card {
    ::ng-deep .mat-card-header-text {
      margin: 0;
    }
    .card-content-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin-right: 1rem;
        border-radius: 50%;
        width: auto;
        height: 100px;
      }
      .image-placeholder {
        margin-right: 1rem;
        border-radius: 50%;
        width: auto;
        height: 100px;
        background-color: gray;
      }
    }
    // background-color: $custom-accent;
    cursor: pointer;
    transition: transform 0.1s ease-in;
    &:hover {
      transform: scale(1.05);
    }
  }
}
