<mat-card (click)="goToDetail()">
  <mat-card-header>
    <mat-card-title>{{ farm.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ farm.description }}
    </p>
    <mat-chip-list *ngIf="farm.productTags.length > 0">
      <mat-chip
        [selectable]="false"
        color="primary"
        *ngFor="let tag of farm.productTags"
        >{{ tag }}</mat-chip
      >
    </mat-chip-list>
  </mat-card-content>
  <!-- <h3>{{ farm.name }}</h3>
  <p>{{ farm.description }}</p> -->
</mat-card>
