@import "../../../variables.scss";

.chat-bubble {
  position: relative;
  border-radius: 0.4em;
  padding: 15px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.chat-bubble-left {
  @extend .chat-bubble;
  margin-bottom: 35px;
  align-self: flex-start;
  background-color: #f8db01;
}

.chat-bubble-right {
  @extend .chat-bubble;
  margin-bottom: 35px;
  align-self: flex-end;
  background-color: #7bc623;
}

%chat-bubble-after-content {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  margin-bottom: -20px;
  border: 20px solid transparent;
}

.chat-bubble-left::after {
  @extend %chat-bubble-after-content;
  left: 10%;
  border-bottom: 0;
  border-top-color: #f8db01;
}

.chat-bubble-right::after {
  @extend %chat-bubble-after-content;
  right: 10%;
  border-bottom: 0;
  border-top-color: #7bc623;
}

.chat-bubble-time {
  margin-top: 10px;
  text-align: end;
  font-size: 0.8em;
}
