.chat-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.chat-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.chat-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.chat-name {
  margin-left: 15px;
  font-size: 1.5em;
}
