<div class="container">
  <h1>Chats</h1>

  <ng-container *ngIf="chat$ | async as chats; else loading">
    <div class="chat-list-container" *ngFor="let chat of chats">
      <mat-card class="chat-item">
        <div class="chat-header">
          <img class="chat-image" [src]="chat.partner.photoUrl" />
          <div class="chat-name">{{ chat.partner.displayName }}</div>
        </div>
        <div class="chat-content">
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              (click)="goToDetail(chat)"
            >
              ÖFFNEN
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </ng-container>
  <ng-template #loading>
    Chats laden...
  </ng-template>
</div>
