<div class="container">
  <h1>Chats</h1>

  <ng-container *ngIf="chat$ | async as chats; else loading">
    <div
      class="chat-list-container"
      *ngFor="let chat of chats"
      (click)="goToDetail(chat)"
    >
      <mat-card class="chat-item">
        <div
          *ngIf="chat.partner.photoUrl"
          class="avatar"
          [style.background-image]="'url(' + chat.partner.photoUrl + ')'"
        ></div>
        <div class="chat-name">{{ chat.partner.displayName }}</div>
        <div class="flex-spacer"></div>
        <div class="chat-date">
          {{ chat.messages.sort()[0].createdAt.toDate() | date }}
        </div>
      </mat-card>
    </div>
  </ng-container>
  <ng-template #loading>
    Chats laden...
  </ng-template>
</div>
