.list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.list-element {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

fa-icon {
  margin-right: 0.5rem;
  color: #006600;
}
