@import "../../../variables.scss";
:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .card-wrapper {
    max-width: 400px;
    width: 300px;
    margin: 0 auto;
    .login-form-container {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      mat-form-field {
        width: 100%;
      }
      mat-spinner {
        margin: 0 auto;
      }
      .register-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .login-button {
        margin-bottom: 1rem;
      }
      .error {
        color: $warn;
        text-align: center;
      }
    }
  }
}

.logo {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 125px;
  height: 125px;
  margin-top: 10px;
  background-image: url("/assets/logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}
