<mat-card class="card-wrapper">
  <div class="logo"></div>
  <ng-container *ngIf="registerActive">
    <ng-container *ngTemplateOutlet="registerForm"></ng-container>
  </ng-container>
  <ng-container *ngIf="!registerActive">
    <ng-container *ngTemplateOutlet="loginForm"></ng-container>
  </ng-container>
</mat-card>

<ng-template #loginForm>
  <div class="login-form-container">
    <h2>Einloggen</h2>
    <h3>{{ userType === "plucky" ? "Plucky" : "Farmer" }}</h3>
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input [(ngModel)]="email" matInput (keydown.enter)="login()" placeholder="Maxmustermann@email.com" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input [(ngModel)]="password" matInput (keydown.enter)="login()" placeholder="**********" type="password" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <button mat-raised-button color="primary" class="login-button" (click)="login()">
      Einloggen
    </button>
    <mat-spinner [diameter]="25" *ngIf="loading"></mat-spinner>
    <p class="error" *ngIf="error">Überprüfe deine Eingaben</p>
    <button mat-button (click)="toggleLogin()">
      Stattdessen Registrieren?
    </button>
  </div>
</ng-template>

<ng-template #registerForm>
  <div class="login-form-container">
    <h2>Registrieren</h2>
    <h3>{{ userType === "plucky" ? "Plucky" : "Farmer" }}</h3>
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input [(ngModel)]="email" matInput (keydown.enter)="register()" placeholder="Maxmustermann@email.com" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="name" matInput placeholder="Max Mustermann" (keydown.enter)="register()" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input [(ngModel)]="password" matInput (keydown.enter)="register()" placeholder="**********" type="password" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwort wiederholen</mat-label>
      <input [(ngModel)]="confirmPassword" matInput (keydown.enter)="register()" placeholder="**********"
        type="password" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-checkbox [(ngModel)]="privacyChecked">
      Hiermit akzeptiere <br>
      ich die <a href="/privacy" target="_blank">Datenschutzerklärung</a> <br>
      und den Eintrag in den Newsletter.
    </mat-checkbox>
    <button mat-raised-button color="primary" class="register-button" (click)="register()">
      Registrieren
    </button>
    <mat-spinner [diameter]="25" *ngIf="loading"></mat-spinner>
    <p class="error" *ngIf="error">Überprüfe deine Eingaben</p>
    <button mat-button (click)="toggleLogin()">
      Stattdessen Einloggen?
    </button>
  </div>
</ng-template>
