<mat-card>
  <mat-card-header>
    <mat-card-title>
      Datenschutzerklärung für Plucky
    </mat-card-title>
    <mat-card-subtitle>
      gem. DSGvO
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Vielen Dank für Ihren Besuch auf unserer Webseite und das aufgebrachte Interesse dieser Web Applikation, in folgeenden gennant WebApp.
      Der Inhalt dieser WebApp wurde in Folge vom Hackathon #WirVsWirus erstellt.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
    <p>
      Im Rahmen der Nutzung dieser WebApp werden personenbezogene Daten von Ihnen durch uns als den für die
      Datenverarbeitung Verantwortlichen verarbeitet und für die Dauer gespeichert, die zur Erfüllung der
      festgelegten Zwecke und gesetzlicher Verpflichtungen erforderlich ist.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
    <p>
      Im Folgenden informieren wir Sie darüber, um welche Daten es sich dabei handelt,
      auf welche Weise sie verarbeitet werden und welche Rechte Ihnen diesbezüglich zustehen.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Diese Datenschutzinformation gilt für die Datenverarbeitung im Rahmen der Nutzung unserer WebApp durch den Verantwortlichen:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Patrick Dinkelacker</li>
      <li>Strickerstraße 10</li>
      <li>72622 Nürtingen</li>
      <li>E-Mail: info@myplucky.eu</li>
    </ul>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Einbindung von externem Kartenmaterial
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Wir binden in unserer App Kartenmaterial über Google Maps ein.
      Damit die Karte angezeigt werden kann, werden Ihre IP-Adresse und Ihr Standort an
      Google Maps übermittelt. Die Einbindung erfolgt auf Grundlage des Art. 6 Abs. 1 S. 1
      lit. f DSGVO. Sie erfolgt, um unsere Webseite nutzerfreundlicher und interessanter
      zu gestalten. Darin ist ein berechtigtes Interesse im Sinne der vorgenannten Vorschrift zu sehen.
    </p>
    <p>
      Weitere Informationen zum Datenschutz im Zusammenhang mit Google Maps finden Sie hier:
      Google Maps: <a href="https://privacy.google.com/intl/de/index.html">https://privacy.google.com/intl/de/index.html</a>
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Auswertung von Nutzungsdaten
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Anonymisierte Nutzungsdaten werden zum sicheren Betrieb und zur Weiterentwicklung der WebApp ausgewertet.
      Diese Daten lassen sich aber nicht mit Ihrer Identität in Verbindung bringen. Wir haben keine Möglichkeiten,
      diese Daten Ihrer Person zuzuordnen und führen diese Daten auch nicht mit anderen Datenquellen zusammen.
    </p>
    <p>
      Im Rahmen der Nutzung der WebApp werden Daten für statistische und Sicherungszwecke in einer Protokolldatei gespeichert.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Betroffenenrechte
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Gemäß Art. 7 Abs. 3 DSGVO Ihre einmal erteilte Einwilligung jederzeit gegenüber uns zu widerrufen. Dies hat zur Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung beruhte, für die Zukunft nicht mehr fortführen dürfen.</li>
      <li>Gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen. Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden verlangen</li>
      <li>Gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen</li>
      <li>Gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist</li>
      <li>Gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben</li>
      <li>Gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die übermittlung an einen anderen Verantwortlichen zu verlangen und</li>
      <li>Gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür an die Aufsichtsbehörde ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Unternehmenssitzes wenden.</li>
    </ul>
  </mat-card-content>
</mat-card>
