<div class="galery-container">
  <h3 class="galery-title">{{ title }}</h3>
  <div class="galery-list">
    <div
      class="galery-element"
      *ngFor="let item of galeryItems"
      (click)="goToItem(item)"
    >
      <img class="galery-image" src="{{ item.image }}" />
      <div class="galery-text">{{ item.name }}</div>
    </div>
  </div>
  <div class="right-link">
    <a class="link" [routerLink]="findMoreRoute"
      >Weitere finden <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon
    ></a>
  </div>
</div>
