<div>
  <div *ngIf="editState; else elseBlock">
    <div>
      <mat-divider></mat-divider>
      <div>
        <img class="avatar" [src]="profile?.photoUrl" />
        <h3>{{ profile?.displayName }}</h3>
        <span>Description Placeholder</span>
      </div>
      <mat-divider></mat-divider>
      <h3>Wir brauchen Hilfskräfte für:</h3>
      <mat-divider></mat-divider>
      <h3>Wo ist unser Betrieb gelegen</h3>
      <mat-divider></mat-divider>
      <div>
        <h3>Was macht unser Betrieb</h3>
        <span style="opacity: 0.7;">Hauptproduktionsausrichtung</span>
        <div *ngFor="let tag of farmTags">
          <fa-icon [icon]="['fas', tag.icon]" size="xl"></fa-icon>{{ tag.name }}
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <h3>Es wird produziert</h3>
        <mat-chip-list>
          <mat-chip>Äpfel</mat-chip>
          <mat-chip>Birnen</mat-chip>
          <mat-chip>Spargel</mat-chip>
          <mat-chip>Erdbeeren</mat-chip>
        </mat-chip-list>
      </div>
      <mat-divider></mat-divider>
      <div class="element">
        <div class="text">
          <span>Ansprechpartner Placeholder</span>
          <span>Direkt kontaktieren</span>
        </div>
        <img class="avatar" [src]="profile?.photoUrl" />
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>
      <h3>Wir brauchen Hilfskräfte für:</h3>
      <mat-divider></mat-divider>
      <div>
        <h3>Wo ist unser Betrieb gelegen</h3>
      </div>
      <mat-divider></mat-divider>
      <h3>Was macht unser Betrieb</h3>
      <mat-divider></mat-divider>
      <div>
        <h3>Es wird produziert</h3>
        <mat-chip-list>
          <mat-chip>Äpfel</mat-chip>
          <mat-chip>Birnen</mat-chip>
          <mat-chip>Spargel</mat-chip>
          <mat-chip>Erdbeeren</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </ng-template>
</div>
