<div>
  <!-- <div *ngIf="editState; else elseBlock"> -->
  <div>
    <div>
      <mat-divider></mat-divider>
      <div class="image-title">
        <div class="image-container">
          <img *ngIf="farm?.image" class="avatar" [src]="farm?.image" />
          <input
            #imageInput
            type="file"
            accept="image/*"
            hidden
            (change)="onImageChanged($event)"
          />
          <button
            mat-button
            class="edit-profile-image-button"
            (click)="imageInput.click()"
            *ngIf="editState"
          >
            <fa-icon [icon]="faCamera"></fa-icon>
            <div>Bild bearbeiten</div>
          </button>
        </div>
        <h3 *ngIf="!editState">{{ farm.name }}</h3>
        <mat-form-field *ngIf="editState" fullwidth>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="farm.name"
            [readonly]="!editState"
          />
        </mat-form-field>
      </div>
      <p *ngIf="!editState">{{ farm?.description }}</p>
      <mat-form-field *ngIf="editState" fullwidth>
        <mat-label>Beschreibung</mat-label>
        <textarea
          matInput
          [rows]="5"
          [(ngModel)]="farm.description"
          [readonly]="!editState"
        ></textarea>
        <!-- <input
          matInput
          type="text"
          [(ngModel)]="farm.description"
          [readonly]="!editState"
        /> -->
      </mat-form-field>
      <mat-divider></mat-divider>
      <h3>Wir brauchen Hilfskräfte für:</h3>
      <app-month-overview
        [editable]="editState"
        [months]="farm.months"
      ></app-month-overview>
      <mat-divider></mat-divider>
      <h3>Wo ist unser Betrieb gelegen</h3>
      <app-map
        [editable]="editState"
        [lat]="farm.location?.latitude"
        [lng]="farm.location?.longitude"
      ></app-map>
      <mat-divider></mat-divider>
      <div>
        <h3 style="margin-bottom: 0.25rem;">Was macht unser Betrieb</h3>
        <span style="opacity: 0.7;">Hauptproduktionsausrichtung</span>
        <div class="horizontal-container" *ngIf="!editState">
          <div *ngFor="let tag of farmTags$ | async" class="icon-container">
            <fa-icon [icon]="['fas', tag.icon]" size="xl"></fa-icon
            >{{ tag.name }}
          </div>
        </div>
        <div class="horizontal-container" *ngIf="editState">
          <div
            *ngFor="let tag of allTags$ | async"
            class="icon-container"
            [class.highlight]="farm.farmTags.includes(tag.id)"
            (click)="modifyFarmTag(tag.id)"
          >
            <fa-icon [icon]="['fas', tag.icon]" size="xl"></fa-icon
            >{{ tag.name }}
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <h3>Es wird produziert</h3>
        <mat-chip-list *ngIf="!editState">
          <mat-chip *ngFor="let tag of farm.productTags">{{ tag }}</mat-chip>
        </mat-chip-list>
        <mat-form-field class="example-chip-list" *ngIf="editState">
          <mat-chip-list #chipList aria-label="Product Tag Selection">
            <mat-chip
              *ngFor="let tag of farm.productTags"
              [selectable]="true"
              [removable]="true"
              (removed)="removeTag(tag)"
            >
              {{ tag }}
              <fa-icon
                class="remove-icon"
                [icon]="faTimes"
                matChipRemove
              ></fa-icon>
            </mat-chip>
            <input
              placeholder="Neuer Tag"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addToken($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="contact">
        <div class="contact-name">
          <h3>{{ profile?.displayName }}</h3>
          <span>Direkt kontaktieren</span>
        </div>
        <img
          *ngIf="profile?.photoUrl"
          class="avatar"
          [src]="profile?.photoUrl"
        />
      </div>
    </div>
  </div>
</div>
