@import "~@angular/material/theming";
@import "./variables.scss";
@include mat-core();
$plucky-app-primary: mat-palette($custom-primary-map);
$plucky-app-accent: mat-palette($custom-accent-map);

$plucky-app-theme: mat-light-theme($plucky-app-primary, $plucky-app-accent);

$custom-typography: mat-typography-config(
  $font-family: "Montserrat",
  $headline: mat-typography-level(28px, 30px, 600),
  $title: mat-typography-level(22px, 25px, 600),
  $subheading-2: mat-typography-level(20px, 22px, 400)
);

@include angular-material-typography($custom-typography);
@include angular-material-theme($plucky-app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  h1 {
    color: $custom-primary;
  }
  p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  fa-icon {
    font-size: 24px;
  }
}
