/* You can add global styles to this file, and also import other style files */
// @import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$plucky-app-primary: mat-palette($mat-green, 900);
$plucky-app-accent: mat-palette($mat-yellow, A700);

// The warn palette is optional (defaults to red).
$plucky-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$plucky-app-theme: mat-light-theme(
  $plucky-app-primary,
  $plucky-app-accent,
  $plucky-app-warn
);

$custom-typography: mat-typography-config(
  $font-family: "Montserrat",
  $headline: mat-typography-level(28px, 30px, 600),
  $title: mat-typography-level(22px, 25px, 600),
  $subheading-2: mat-typography-level(20px, 22px, 400)
);
@include angular-material-typography($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($plucky-app-theme);
// These are the colors from the stylesheet
// Angular only allows material colors...
$dark-green: #006600;
$green: #009f3d;
$bright-green: #7bc623;
$yellow: #f8db01;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  mat-icon {
    font-size: 24px;
    text-align: center;
  }
}
