@import "~@angular/material/theming";

$custom-primary-map: (
  50: #e0ede0,
  100: #b3d1b3,
  200: #80b380,
  300: #4d944d,
  400: #267d26,
  500: #006600,
  600: #005e00,
  700: #005300,
  800: #004900,
  900: #003800,
  A100: #6eff6e,
  A200: #3bff3b,
  A400: #08ff08,
  A700: #00ee00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$custom-accent-map: (
  50: #fefbe1,
  100: #fdf4b3,
  200: #fced80,
  300: #fae64d,
  400: #f9e027,
  500: #f8db01,
  600: #f7d701,
  700: #f6d201,
  800: #f5cd01,
  900: #f3c400,
  A100: #ffffff,
  A200: #fffae6,
  A400: #ffeeb3,
  A700: #ffe99a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$custom-primary: #006600;
$green: #009f3d;
$bright-green: #7bc623;
$custom-accent: #f8db01;
