@import "../../../variables.scss";
.container {
  margin: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: auto;
}

h3 {
  padding-top: 15px;
}

mat-divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

fa-icon {
  font-size: 1.2em;
  margin: 5px;
  margin-right: 10px;
}

fa-icon.icon-with-background {
  background: green;
  padding: 2px 4px;
  border-radius: 5px;
  color: white;
}

.travel-range-text {
  margin-top: 10px;
}

.contact-link {
  color: black;
}

.chat-link {
  color: $custom-blue;
  margin-top: 0.5rem;
}
