.hello-message {
  padding-top: 15px;
  padding-bottom: 5px;
}

.flex-col-no-edit {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: center;
}

.flex-col-edit {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.edit-profile-button {
  text-align: end;
  padding-bottom: 15px;
}

.logout-button {
  margin-top: 1rem;
}

.avatar {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-bottom: 1rem;
}

.slider-label {
  padding-top: 20px;
  padding-bottom: 15px;
}

.slider-unit {
  font-size: 0.75em;
  margin-top: -10px;
}

.edit-profile-image-button {
  cursor: pointer;
  padding: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #707070;
}

.month-overview-title {
  margin-top: 15px;
  margin-bottom: 10px;
}
