.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 56px;
}

.hello-message {
  padding-top: 15px;
  padding-bottom: 5px;
}

.flex-col-no-edit {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: center;
}

.flex-col-edit {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.edit-profile-button {
  text-align: end;
  padding-bottom: 15px;
}

.profile-image {
  border-radius: 50%;
  align-self: center;
}

.slider-label {
  padding-top: 20px;
  padding-bottom: 15px;
}

.slider-unit {
  font-size: 0.75em;
  margin-top: -10px;
}

.edit-profile-image-button {
  padding: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.month-overview-title {
  margin-bottom: 10px;
}
